# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Environment variables
.env
*.env

# Streamlit secrets
.streamlit/secrets.toml

# OS files
.DS_Store
Thumbs.db

# Virtual environments
venv/
env/
.venv/

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# Cache
.cache/
